USE [master]
GO
/****** Object:  Database [Comiqueria]    Script Date: 25/6/2019 23:03:10 ******/
CREATE DATABASE [Comiqueria]
 CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'Comiqueria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Comiqueria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'Comiqueria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Comiqueria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
--GO
--ALTER DATABASE [Comiqueria] --SET COMPATIBILITY_LEVEL = 140
--GO
--IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
--begin
--EXEC [Comiqueria].[dbo].[sp_fulltext_database] @action = 'enable'
--end
GO
--ALTER DATABASE [Comiqueria] SET DELAYED_DURABILITY = DISABLED 
--GO
EXEC sys.sp_db_vardecimal_storage_format N'Comiqueria', N'ON'
GO
--ALTER DATABASE [Comiqueria] SET QUERY_STORE = OFF
--GO
USE [Comiqueria]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 25/6/2019 23:03:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[Precio] [float] NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
